/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */

    color: #3a3a3a;
    font-family: "Roboto", "sans-serif";
}
.hidden-heading {
    display:none;
}

h1,h2,h3 {
    font-family: "Roboto", "sans-serif";
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
    letter-spacing: 2px;
    color: #252525
}

#menu {
    font-size: 110%;
    word-spacing: 4px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
}



.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle*/
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main Content */
main {
    flex: 1 0 auto;
    margin-top: 47px;
    display:flex;
    flex-direction: column;
}

/* styling about Section */
#abouts {
    margin-top: 100px;
    text-align: center;
    font-size: 18px;
    line-height: 1.8;
}
/* heroine Section */
#heroine {
    height: 600px;
    width: 100%;
    background: url("../images/heroine.webp") no-repeat center center/cover;
    position: relative;
}


#cover-text {
    background: rgba(18, 8, 7, 0);
    font-size: 100%;
    position: absolute;
    bottom: 80px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}

#cover-text>h2,
#cover-text>h3 {
    color: #ffffff;
}
/*Gallery page*/
.grid-image {
    width: 100%;
    height: auto;
}





* Contact Section */
#contact {
    height: 600px;
    width: 100%;
    position: relative;
}

/* Three columns side by side */
.column {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  /* Display the columns below each other instead of side by side on small screens */
  @media screen and (max-width: 767px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
  /* Add some shadows to create a card effect */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  /* Some left and right padding inside the container */
  .container {
    padding: 0 16px;
  }
  


  /* Clear floats */
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
    padding: 8px 0;
  }

 .spaced {
    padding: 8px 0;
 }

/* Footer */
#social-icons {
    text-align: center;
    padding: 5px 0;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin-right: 2em;
}

#social-icons i {
    font-size: 180%;
    padding: 5%;
    color: #3a3a3a;
    margin: 0 10px;
}

footer p {
    
    color: black;
    text-align: center;
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

/* Media query: laptop (864px and down */
@media screen and (max-width: 824px) {
    #logo-icon {
        display: none;
    }
}

/* Media query: large or landscape phones (576px and up*/
@media screen and (min-width:576px) {
    #photos {
        column-count: 2;
        column-gap: 0;
    }
    #cover-text {
        font-size: 200%;}

}
/*Media query: tablets and larger (824px and up) */
@media screen and (min-width: 824px) {
    /* header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 2rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 200%;
        line-height: 75px;
        margin: 0 0.5rem;
    }
    /* Main content */
    main {

        flex: 1 0 auto;
    
        margin-top: 80px;

        display: flex;
        flex-direction: column;
    }

    /* Contact section */
    #contact {
        margin-top: 47px;
    }

    /* heroine */
    #cover-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /* Large devices (laptops and desktops, 992px and up) */
    @media screen and (min-width: 992px) {
        #menu a:hover {
            border-bottom: 1px solid #3a3a3a;
        }
    }

    @media screen and (min-width: 1200px){ 

        
        #photos {
            column-count: 4;

        }
    }
}